body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2f1e1e;
}

#outer-border {
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#inner-border {
  width: 100%;
  height: 100%;
  background-color: #70443c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#game-container {
  width: 100%;
  height: 100%;
  background-color: #eacda3;
  position: relative;
  overflow: hidden;
}
